.soloBtns {
    background: rgb(253,178,44);
    background: linear-gradient(90deg, rgba(253,178,44,1) 5%, rgba(16,251,149,1) 50%, rgba(10,251,254,1) 100%);
}

.duoBtns button:first-child {
    background: rgb(253,178,44);
    background: linear-gradient(90deg, rgba(253,178,44,1) 0%, rgba(16,251,149,1) 100%);
}

.duoBtns button:nth-child(2) {
    background: rgb(253,178,44);
    background: linear-gradient(90deg, rgba(16,251,149,1) 0%, rgba(10,251,254,1) 100%);
}

.trioBtns button:first-child {
    background: rgb(253,178,44);
    background: linear-gradient(90deg, rgba(253,178,44,1) 75%, rgba(16,251,149,1) 100%);
}
  
.trioBtns button:nth-child(2) {
    background: rgba(16,251,149,1);
}
  
.trioBtns button:nth-child(3) {
    background: rgb(16,251,149);
    background: linear-gradient(90deg, rgba(16,251,149,1) 13%, rgba(10,251,254,1) 25%);
}