.notice {
    width: 100%;
    padding: 7px 20px;
    border-bottom: 2px solid var(--bg-border-color);
}

.notice:last-child {
    border-bottom: none;
}

.notice.nonChecked {
    background-color: #ffffff08;
}

.title {
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 700;
}

.body {
    font-size: 16px;
}

.date {
    font-size: 13px;
    font-weight: 300;
    color: var(--color-noNotice);
}

.title,
.body {
    hyphens: auto;
    overflow-wrap: break-word;
}