.wrapper {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
    background-color: #ffffff80;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}

.avatar:hover .wrapper {
    opacity: 1;
}